#nav-button-container{
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  transition-duration: .15s;
  transition-property: background-color,box-shadow;
  transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
}

#new {
  align-items: center;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  display: inline-flex;
  flex-direction: row-reverse;
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  height: 48px;
  min-width: 56px;
  padding: 0 0 0 24px;
}

#new::before{
  background-image: url('https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  content: '';
  display: block;
  height: 48px;
  min-width: 56px;
}

.button-container{
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
  height: 48px;
  margin: 16px 0;
  padding: 0 8px 0 0;
}

#user {
  align-items: center;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  display: inline-flex;
  flex-direction: row-reverse;
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  height: 48px;
  min-width: 56px;
  padding: 0 0 0 24px;
}

#user::before{
  background-image: url('../../assets/img/icons/person-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  content: '';
  display: block;
  height: 48px;
  min-width: 56px;
}
