<div id="nav-button-container">
  <div class="button-container">
    <div mat-ripple id="new" (click)="openDialog()">New Ticket</div>
  </div>

  <div class="button-container">
    <div mat-ripple id="user"><button mat-button [matMenuTriggerFor]="menu">User</button></div>
    <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>First name</button>
    <button mat-menu-item disabled>Last name</button>
    <button mat-menu-item (click)="disconnect()">Back to the homepage</button>
    <button mat-menu-item (click)="goToMyAccount()">Change account</button>
  </mat-menu>
  </div>
</div>

<div class="my-tickets-container">
  <mat-toolbar>
    <h2>My Feedbacks</h2>
  </mat-toolbar>
  <div class="ticket-min-list">
    <app-ticket-min></app-ticket-min>
  </div>
</div>

<div class="my-tickets-container">
  <mat-toolbar>
    <h2>My Tickets</h2>
  </mat-toolbar>
  <div class="ticket-min-list">
    <app-ticket-min></app-ticket-min>
  </div>
</div>
<!--<app-ticket-min-container>-->
<!--</app-ticket-min-container>-->
