<mat-toolbar>
  <mat-button-toggle-group name="campus-filter">
    <mat-button-toggle value="campus-general">General</mat-button-toggle>
    <mat-button-toggle value="campus-ndc">NDC</mat-button-toggle>
    <mat-button-toggle value="campus-ndl">NDL</mat-button-toggle>
  </mat-button-toggle-group>
  <!--
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Search">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  -->
</mat-toolbar>
<div>
  <app-ticket></app-ticket>
</div>

