mat-card {
  min-width: 35%;
  max-width: 35%;
  float: right;
  margin-right: 5%;
  margin-left: 5%;
}

h2{
  padding-right: 5%;
}

.ticket-min-list {
  max-width: 100%;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}


