<mat-card>
  <h2>My Tickets :</h2>
  <div class="ticket-min-list">
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
    <app-ticket-min></app-ticket-min>
  </div>

</mat-card>
