<mat-card (click)="openDialog()">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title (click)="antiClick($event)">
      {{ticket.title}}
    </mat-card-title>
    <mat-card-subtitle (click)="antiClick($event)">
      {{ticket.serial}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-feed></app-feed>
  </mat-card-content>
  <mat-card-footer>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="angular-with-newlines" (click)="antiClick($event)">{{ticket.content}}</span>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon svgIcon="favorite" (click)="antiClick($event)"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="comment" (click)="antiClick($event)"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="bookmark" (click)="antiClick($event)"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="share" (click)="antiClick($event)"></mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" value="50" color="primary" matTooltip="status info"
                      matTooltipPosition="above"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
