mat-card {
  max-width: 90%;
  margin: 15px auto;
  margin-right: 5%; /*ajout Antoine*/
}

.example-header-image {
  background-image: url("../../../assets/img/logo_isep.png");
  background-size: cover;
}

.spacer{
  flex: 1 1 auto;
}

.padding-icon{
  padding: 14px;
}

.temp-log{
  min-height: 150px;
}
