<mat-card (click)="openDialog()">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title (click)="antiClick($event)">
      Some Random Problem
    </mat-card-title>
    <mat-card-subtitle (click)="antiClick($event)">
      ticket-serial
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-feed></app-feed>
  </mat-card-content>
  <mat-card-footer>
    <mat-toolbar>
      <mat-toolbar-row>
        <span (click)="antiClick($event)">description</span>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon svgIcon="favorite"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="comment"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="bookmark"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="share"></mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" value="50" color="primary" matTooltip="status info"
                      matTooltipPosition="above"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
