<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <h1>Welcome to {{ title }} and ready to write your feedback here !</h1>
  <!--<img src="../assets/img/Feedback.jpg" width="800">-->
</mat-toolbar>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav-content>
    <app-search-zone></app-search-zone>
  </mat-sidenav-content>
  <mat-sidenav mode="side" opened="true" position="end">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
</mat-sidenav-container>



