<mat-tab-group>
  <mat-tab label="General">
    General
    <app-ticket></app-ticket>
  </mat-tab>
  <mat-tab label="NDC">
    NDC
    <app-ticket></app-ticket>
  </mat-tab>
  <mat-tab label="NDL">
    NDL
    <app-ticket></app-ticket>
  </mat-tab>
  <mat-tab label="Search">
    Search
    <form>
      <mat-form-field class="search-ticket-field" appearance="outline">
        <mat-label>Research</mat-label>
        <input matInput placeholder="Which ticket ?">
      </mat-form-field>
    </form>

  </mat-tab>
</mat-tab-group>
<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
