<mat-card matBadge="4" matBadgeHidden="true" (click)="openDialog()">
  <mat-card-header>
    <mat-card-title (click)="antiClick($event)">
      {{ticket.title}}
    </mat-card-title>
    <mat-card-subtitle (click)="antiClick($event)">
      {{ticket.serial || 'ticket-001'}}
    </mat-card-subtitle>
    <div id="state" matTooltip="State: {{ticket.state}}" matTooltipPosition="above" [ngClass]="ticket.state"></div>
  </mat-card-header>
  <mat-card-footer>
    <mat-chip-list selectable="false">
      <mat-chip class="favorite-chip">
        <mat-icon svgIcon="favorite"></mat-icon>
        {{ticket.upvote || 0}}
      </mat-chip>
      <mat-chip class="comment-chip">
        <mat-icon svgIcon="comment"></mat-icon>
        {{comments || 0}}
      </mat-chip>
    </mat-chip-list>
  </mat-card-footer>
</mat-card>

