/*
app-ticket-min{
  max-width: 45%;
}
*/

#state{
  position: relative;
  right: -16px;
  content: '';
  display: block;
  height: 8px;
  min-width: 16px;
}

.validated {
  background-color: lightcyan;
}

.new {
  color: white;
  background-color: blueviolet;
}

.taken {
  background-color: darksalmon;
}

.solved {
  background-color: yellowgreen;
}

.paused {
  background-color: tomato;
}

.archived {
  background-color: gold;
}

.canceled {
  background-color: crimson;
}

.favorite-chip {
  color: crimson;
 background-color: rgba(255, 20, 68, 0.25);
}

.comment-chip {
  color: blueviolet;
  background-color: rgba(155, 47, 255, 0.25);
}

mat-icon{
  margin-right: 8px;
}

mat-card-footer{
  padding: 0 0 0 2px;
}
