<div *ngIf="displayTicket===true; then ticketBlock; else formBlock;"></div>
<!-- Form for new ticket-->
<ng-template #formBlock>
  <mat-form-field appearance="fill">
    <mat-label>New ticket </mat-label>
    <input matInput placeholder="Title">
    <mat-hint>Your problem</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Describe the problem" cols="10" wrap="hard" class="angular-with-newlines"></textarea>
  </mat-form-field>
  <mat-chip-list selectable="true">
    <mat-chip>Micro-wave</mat-chip>
    <mat-chip>Coffee dispenser</mat-chip>
  </mat-chip-list>
  <button mat-button>Post</button>
</ng-template>

<ng-template #ticketBlock>
  <!-- Full ticket-->
  <mat-card class="header-full">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        Récupérer le titre avec l'id
      </mat-card-title>
      <mat-card-subtitle>
        Récupérer le serial avec l'id
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="description">
    Récupérer description à partir de l'id
  </mat-card>
  <mat-list class="comments-full">
    <mat-list-item> Comment1 </mat-list-item>
    <mat-list-item> Comment2 </mat-list-item>
    <mat-list-item> Comment3 </mat-list-item>
  </mat-list>
  <mat-form-field appearance="standard">  <!--material n'est pas affiché correctement-->
    <mat-label>Your comment</mat-label>
    <input matInput placeholder="Comment...">
  </mat-form-field>
  <mat-card-footer class="footer-full">
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="angular-with-newlines" (click)="antiClick($event)">{{ticket.content}}</span>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon svgIcon="favorite" (click)="antiClick($event)"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="comment" (click)="antiClick($event)"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="bookmark" (click)="antiClick($event)"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="share" (click)="antiClick($event)"></mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" value="50" color="primary" matTooltip="status info"
                      matTooltipPosition="above"></mat-progress-bar>
  </mat-card-footer>

</ng-template>

