mat-form-field{
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-spaces;
}

textarea{
  max-width: 100%;
  min-height: 100px;
}
button{
  margin: 8px;
}
mat-chip{
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.angular-with-newlines {
  overflow-wrap: break-spaces;
}
.header-full{
  background-color: papayawhip;
}
.description{
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  padding: 20px;
  background-color: white;
}
.footer-full{
  width: 100%;
  margin-left: 0%;
}
.comments-full{
  margin-left: 5%;
}
mat-hint{
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.campus p{
  font-weight: bold;
  color: cornflowerblue;
  margin: 5px;
}
.campus{
  margin: 5px;
  max-width: 25%;
}
